@import '@fontsource/fira-mono';

:root {
	--font-family: 'Montserrat', sans-serif;
	--color-bg-0: #121212;
	--color-text: #ffffff;
	--color-neg: rgba(255, 82, 82, 1);
	--color-pos: rgba(19, 255, 128, 0.8);
	--header-height: 4rem;
	--main-padding-top: 4rem;
	font-family: var(--font-family);
	color: var(--color-text);
	background: var(----color-bg-0);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-color: var(--color-bg-1);
	background-size: 100vw 100vh;
	background-image: radial-gradient(
			50% 50% at 50% 50%,
			rgba(255, 255, 255, 0.75) 0%,
			rgba(255, 255, 255, 0) 100%
		),
		linear-gradient(180deg, var(--color-bg-0) 0%, var(--color-bg-1) 15%, var(--color-bg-2) 50%);
}

html,
body {
	background: #121212;
	color: #ffffff;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
